* {
  padding: 0;
  margin: 0;
  display: border-box;
}

.headNav-bar {
  align-items: center;
  display: flex;
}
.navBar {
  margin: 0px;
  float: left;
}

.navBar hr {
  transform: rotate(90deg);
  border: 0.1px solid #ffffff;
  float: right;
}

.logo {
  width: 50px;
}

.defer-links {
  display: inline-flex;
  list-style: none;
  justify-content: space-between;
  text-indent: 50px;
}

html {
  background-color: aliceblue;
}
